@use "../utils/fonts";
@use "../utils/vars";
@use "../utils/mixins";

html {
    font-size: vars.$basicFontSize;
}

body {
    background-color: vars.$lightBgColor;
    font-family: vars.$mainFontFamily;
    font-weight: 400;
    color: vars.$mainTextColor;
}

h1 {
    font-size: 52px;
    color: vars.$lightTextColor;
    font-weight: 800;
    line-height: 1.63em;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.63em;
}

p {
    line-height: 1.77em;
}

a {
    display: inline-block;
    position: relative;
    line-height: 2.05em;
    font-size: 18px;
    color: vars.$linkTextColor;
    transition: all vars.$basicTransTime ease;
}

.underline {
    &::after {
        content: "";
        pointer-events: none;
        transition: all vars.$basicTransTime ease;
        height: 1px;
        width: 100%;
        background-color: vars.$linkTextColor;
        @include mixins.position(absolute, -1, bottom, left, 0, 0);
    }
}

.underline:hover {
    &::after {
        margin-left: 50%;
        width: 0%;

        @media (hover: none) {
            margin-left: 0%;
            width: 100%;
        }
    }
}

.body__fixed {
    overflow: hidden;
}

.container {
    max-width: vars.$containerWidth;
    padding: 0 vars.$containerPadding;
    margin: 0 auto;
}

.display--none {
    display: none;
}
