@use "../utils/vars";
@use "../utils/mixins";

.header {
    &__up {
        @include mixins.flex(space-between, center);
        gap: vars.$mainGap;
        padding: 16px 0;

        @media (max-width: vars.$mediaMobile) {
            gap: 14px;
            padding: 8px 0;
        }
    }
}

.info {
    @include mixins.flex(flex-start, center);
    gap: 34px;

    @media (max-width: vars.$mediaSmallTablet) {
        gap: 14px;
    }

    @media (max-width: vars.$mediaMobile) {
        gap: 8px;
    }
}

.logo {
    a {
        display: block;
    }

    svg {
        display: block;
        width: 246px;
        height: 90px;

        @media (max-width: vars.$mediaMobile) {
            width: 101px;
            height: 37px;
        }
    }
}

.connection {
    @include mixins.flex(flex-start, flex-start, column);
    gap: 6px;

    @media (max-width: vars.$mediaMobile) {
        gap: 0px;
    }
    @media (max-width: vars.$mediaSmallMobile) {
        display: none;
    }
}

.tel {
    font-size: 24px;
    color: vars.$mainTextColor;
    line-height: 1.36;
    font-weight: 600;

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: 18px;
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: 14px;
    }

    &::after {
        background-color: vars.$mainTextColor;
    }
}

.address {
    @media (max-width: vars.$mediaSmallTablet) {
        font-size: 14px;
    }
    @media (max-width: vars.$mediaMobile) {
        font-size: 12px;
    }
}

.socials {
    @include mixins.flex(flex-start, center);
    gap: 22px;

    @media (max-width: vars.$mediaSmallTablet) {
        gap: 13px;
    }

    @media (max-width: vars.$mediaMobile) {
        gap: 14px;
    }
}

.social {
    &:hover,
    &:focus-visible {
        outline: none;

        svg {
            fill: #2d7fa3;

            @media (hover: none) {
                fill: #3e6e97;
            }
        }
    }

    svg {
        width: 48px;
        height: 48px;
        fill: #3e6e97;
        display: block;
        transition: all vars.$basicTransTime ease;

        @media (max-width: vars.$mediaMobile) {
            width: 21px;
            height: 21px;
            fill: #00afcc;
        }
    }
}

.social-inst {
    display: block;

    @media (max-width: vars.$mediaMobile) {
        display: none;
    }
}

.social-vk {
    display: block;

    @media (max-width: vars.$mediaMobile) {
        display: none;
    }
}

.social-phone {
    display: none;

    @media (max-width: vars.$mediaMobile) {
        display: block;
    }
}

.desctop {
    display: initial;

    @media (max-width: vars.$mediaMobile) {
        display: none;
    }
}

.burger {
    width: 24px;
    height: 20px;
    border: none;
    padding: 0;
    background: none;
    position: relative;
    display: none;

    @media (max-width: vars.$mediaMobile) {
        display: block;
    }

    &__line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #00afcc;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: #00afcc;
        }

        &::before {
            @include mixins.position(absolute, -1, top, left, 0, 0);
        }

        &::before,
        &::after {
            @include mixins.position(absolute, -1, bottom, left, 0, 0);
        }
    }
}

.nav-wrapper {
    background-color: #00afcc;
    min-height: 8px;
    padding: 0;
}

.nav {
    @include mixins.flex(space-between, center);
    gap: vars.$mainGap;

    @media (max-width: vars.$mediaMobile) {
        display: none;
    }
}

.nav__list {
    @include mixins.flex(flex-start, center);
    overflow: auto;

    @media (max-width: vars.$mediaSmallTablet) {
    }

    @media (max-width: vars.$mediaMobile) {
    }
}

.nav__item {
    a {
        font-size: 20px;
        color: vars.$lightTextColor;
        font-weight: 700;
        white-space: nowrap;
        padding: 14px;

        @media (max-width: vars.$mediaSmallTablet) {
            font-size: 16px;
            padding: 12px;
        }

        @media (max-width: vars.$mediaSmallTablet) {
            font-size: 14px;
            padding: 15px 22px;
        }

        &:hover,
        &:focus-visible {
            outline: none;
            background-color: vars.$lightBgColor;
            color: vars.$mainTextColor;

            @media (hover: none) {
                background-color: inherit;
                color: vars.$lightTextColor;
            }
        }
    }
}

.nav__list-spare {
    border-left: 2px solid vars.$lightTextColor;

    &:first-child a {
        padding-left: 0;
    }
}

.to-small-tablet {
    @media (max-width: vars.$mediaSmallTablet) {
        display: none;
    }
}
