@use "../utils/vars";
@use "../utils/mixins";

.header {
    &__up {
        @include mixins.flex(space-between, center);
        gap: vars.$mainGap;
        padding: 16px 0;

        @media (max-width: vars.$mediaMobile) {
            gap: 14px;
            padding: 8px 0;
        }
    }
}

.info {
    @include mixins.flex(flex-start, center);
    gap: 34px;

    @media (max-width: vars.$mediaSmallTablet) {
        gap: 14px;
    }

    @media (max-width: vars.$mediaMobile) {
        gap: 8px;
    }
}

.logo {
    a {
        display: block;
    }

    svg {
        display: block;
        width: 246px;
        height: 90px;
        fill: none;

        @media (max-width: vars.$mediaMobile) {
            width: 101px;
            height: 37px;
        }
    }
}

.connection {
    @include mixins.flex(flex-start, flex-start, column);
    gap: 6px;

    @media (max-width: vars.$mediaMobile) {
        gap: 0px;
    }
    @media (max-width: vars.$mediaSmallMobile) {
        display: none;
    }
}

.tel {
    font-size: 24px;
    color: vars.$mainTextColor;
    line-height: 1.36;
    font-weight: 600;

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: 18px;
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: 14px;
    }

    &::after {
        background-color: vars.$mainTextColor;
    }
}

.address {
    @media (max-width: vars.$mediaSmallTablet) {
        font-size: 14px;
    }
    @media (max-width: vars.$mediaMobile) {
        font-size: 12px;
    }
}

.socials {
    @include mixins.flex(flex-start, center);
    gap: 22px;

    @media (max-width: vars.$mediaSmallTablet) {
        gap: 13px;
    }

    @media (max-width: vars.$mediaMobile) {
        gap: 14px;
    }
}

.social {
    &:hover,
    &:focus-visible {
        outline: none;

        svg {
            fill: #2d7fa3;

            @media (hover: none) {
                fill: #3e6e97;
            }
        }
    }

    svg {
        width: 48px;
        height: 48px;
        fill: #3e6e97;
        display: block;
        transition: all vars.$basicTransTime ease;

        @media (max-width: vars.$mediaMobile) {
            width: 21px;
            height: 21px;
            fill: #00afcc;
        }
    }
}

.social-inst {
    display: block;

    @media (max-width: vars.$mediaMobile) {
        display: none;
    }
}

.social-vk {
    display: block;

    @media (max-width: vars.$mediaMobile) {
        display: none;
    }
}

.social-phone {
    display: none;

    @media (max-width: vars.$mediaMobile) {
        display: block;
    }
}

.desctop {
    display: initial;

    @media (max-width: vars.$mediaMobile) {
        display: none;
    }
}

.burger {
    width: 24px;
    height: 20px;
    border: none;
    padding: 0;
    background: none;
    position: relative;
    display: none;

    @media (max-width: vars.$mediaMobile) {
        display: block;
    }

    &__line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #00afcc;
        transition: all vars.$basicTransTime ease;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: #00afcc;
            transition: all vars.$basicTransTime ease;
        }

        &::before {
            @include mixins.position(absolute, -1, top, left, 0, 0);
        }

        &::before,
        &::after {
            @include mixins.position(absolute, -1, bottom, left, 0, 0);
        }
    }
}

.burger--cancel {
    .burger__line {
        margin-left: 50%;
        width: 0;

        &::before {
            transform: translateY(8px) rotateZ(45deg);
        }

        &::after {
            transform: translateY(-8px) rotateZ(-45deg);
        }
    }
}

.nav-wrapper {
    background-color: #00afcc;
    min-height: 8px;
    padding: 0;
    max-width: 100%;
}

.nav {
    @include mixins.flex(space-between, center);
    gap: vars.$mainGap;
    padding: 0;
    transition: all vars.$basicTransTime ease;

    @media (max-width: vars.$mediaMobile) {
        z-index: 2;
        @include mixins.position(absolute, -1, top, left, auto, 0);
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        background-color: vars.$lightBgColor;
        visibility: hidden;
        opacity: 0;
    }
}

.navigation--appear {
    visibility: visible;
    opacity: 1;
}

.nav__list {
    @include mixins.flex(flex-start, center);

    @media (max-width: vars.$mediaMobile) {
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 340px;
    }
}

.nav__lists-enclosed {
    @include mixins.flex(flex-start, flex-start, column);
    @include mixins.position(absolute, -1, top, left, auto, 0);
    gap: 6px;
    transition: all vars.$basicTransTime ease;
    min-width: 100%;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    background-color: vars.$lightBgColor;
    padding: 0;

    @media (max-width: vars.$mediaMobile) {
        position: relative;
        visibility: visible;
        opacity: 1;
    }

    .nav__list--active {
        overflow: hidden;

        .see-more__img {
            transform: rotateZ(180deg);
        }
    }
}

.nav__item {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    @media (max-width: vars.$mediaMobile) {
        background-color: #00afcc;
        flex-grow: 1;
    }

    &:nth-child(2) {
        @media (max-width: vars.$mediaMobile) {
            order: 2;
        }
    }

    & > a {
        font-size: 20px;
        color: vars.$lightTextColor;
        font-weight: 700;
        white-space: nowrap;
        padding: 14px 27px;

        @media (max-width: vars.$mediaSmallTablet) {
            font-size: 16px;
            padding: 12px;
        }

        @media (max-width: vars.$mediaMobile) {
            font-size: 14px;
            padding: 15px 22px;
        }

        &:hover,
        &:focus-visible {
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);

            @media (hover: none) {
                background-color: inherit;
            }
        }
    }
}

.nav__item--filled {
    position: relative;
    transition: all vars.$basicTransTime ease;

    @media (max-width: vars.$mediaMobile) {
        background-color: unset;
        padding-bottom: 12px;
    }

    &:hover {
        .nav__lists-enclosed {
            visibility: visible;
            opacity: 1;
        }

        a {
            &:focus-visible {
                outline: none;
            }
            background-color: vars.$lightTextColor;
            color: #006879;
        }
    }

    & > a {
        background-color: rgba(255, 255, 255, 0.3);

        @media (max-width: vars.$mediaMobile) {
            width: 100%;
            background-color: #ffffff;
            color: #000000;
        }
    }
}

.nav__list-spare {
    border-left: 2px solid vars.$lightTextColor;

    @media (max-width: vars.$mediaMobile) {
        border-left: 0px;
        width: 100%;
    }

    &:first-child a {
        padding-left: 0;
    }
}

.nav__list--enc {
    @include mixins.flex(flex-start, flex-start, column);
    width: 100%;
    transition: all 0.6s ease;
    overflow-y: hidden;
    height: 40px;
    overflow: hidden;

    li:first-child {
        cursor: pointer;
    }

    li {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: all vars.$basicTransTime ease;
        width: 100%;

        &:hover {
            background-color: rgba(0, 173, 204, 0.3);

            @media (hover: none) {
                background-color: inherit;
            }
        }
    }

    li:first-child {
        text-overflow: unset;
        overflow: visible;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        padding: 14px 27px;
    }

    a {
        font-size: 15px;
        font-weight: 400;
        line-height: 2.7;
        padding-left: 42px;
        width: 100%;
        color: #00afcc;

        &:hover {
            background-color: rgba(0, 173, 204, 0.3);

            @media (hover: none) {
                background-color: inherit;
            }
        }
    }

    .see-more__img {
        stroke: #000000;
    }
}

.to-tablet {
    @media (max-width: vars.$mediaTablet) {
        display: none;
    }
}
